<div class="container md-5">
    <h1 class="text-center mt-5">รายชื่อสมาชิก กลุ่มที่ 8</h1>
    <div class="row md-5 text-center mt-5" >
    <div class="col">
      <div class="card">
        <img src="assets\image\team\1.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">นายธนารักษ์ เเสงกล้า</h5>
          <h5 class="card-title">ชื่อเล่น มิก</h5>
          <p class="card-text">ปวส.1/4 เลขที่ 11</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets\image\team\Tew.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">นายชินธันย์ เรื่องกิตต์ธนวัต</h5>
          <h5 class="card-title">ชื่อเล่น ติว</h5>
          <p class="card-text">ปวส.1/4 เลขที่ 3</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets\image\team\gg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">นายกฤตชัย ไกรโสภา</h5>
          <h5 class="card-title">ชื่อเล่น กล้า</h5>
          <p class="card-text">ปวส.1/5 เลขที่ 6</p>
        </div>
      </div>
    </div>